<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>

<body>

    <article>
        <h1>{{ page.title }}</h1>
        <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>

        {{ content }}
    </article>

    <hr>

    <p>
        👉 Need Interview Proxy or Job Support?
        <a href="/index.html">Contact Proxy Tech Support</a>
    </p>

</body>

</html>